// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#admin-page {
	padding-top:0px;
}

.nested-comment{
	margin-top:60px;
}

.comment-reply {
	display:none;
}